.portfolio__card {
  border-radius: 10px;
  box-shadow: 3px 3px 20px rgba(80, 78, 78, 0.5);
  text-align: center;
  width: 400px;
}

.portfolio__card-title_content {
  text-align: center;
  z-index: 20;
  width: 100%;
}

.portfolio__card-title_content-heading3 {
  font-weight: 500;
  letter-spacing: 2px;
  color: #9cc9e3;
  padding: 0.5rem 0;
  font-size: 2rem;
}

.portfolio__card-title_content-divider {
  width: 50px;
  height: 3px;
  margin: 20px auto;
  border: 0;
  background: #d0bb57;
}

.portfolio__card-title_content-description {
  width: 100%;
  padding: 0 50px;
  color: #e4e6e7;
  font-style: 2rem;
  line-height: 24px;
  text-align: justify;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.portfolio__card-title_content-taglist ul {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}

.portfolio__card-title_content-taglist ul li {
  color: #d8bfbf;
  font-size: 1.5rem;
}

.portfolio__card-title_content-btn {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  margin: 2.5rem 0;
}

.portfolio__card-title_content-btn a {
  color: #d4c0c0;
  font-size: 1.6rem;
  padding: 1rem 1.5rem;
  background: #6b3030;
  border-radius: 1.6rem;
  transition: 0.5s;
}

.portfolio__card-title_content-btn a:hover {
  background: #801414;
}

@media screen and (max-width: 640px) {
  .blogcard {
    width: 100%;
  }

  .cardinfo {
    padding: 0.3rem;
  }
}
