@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');

:root {
  --font-family: 'Space Grotesk', sans-serif;

  --color-bg: #040c18;
  --color-footer: #031b34;
  --color-blog: #042c54;
  --color-text: #81afdd;
  --color-subtext: #ff8a71;

  --primary1: hsl(204, 23.8%, 95.9%);
  --background1: #0f1624;
  --accent1: hsl(34.9, 98.6%, 72.9%);
  --button: hsl(205.1, 100%, 36.1%);
  --background2: hsl(232.7, 27.3%, 23.7%);
  --section-title: linear-gradient(
    121.57deg,
    #ffffff 18.77%,
    rgba(255, 255, 255, 0.66) 60.15%
  );
  --btn--gradient: linear-gradient(270deg, #00dbd8 0%, #b133ff 100%);
}
